.App {
    text-align: center !important;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
}

.btn {
    background-color: #3741d3;
    border-style: None;
    border-width: 0px !important;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px !important;
}

.Container {
    text-align: left;
    border: 2px slategray;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}